 <section id="about" class="about-section text-center">
  <div class="container">
    <div class="col-12 mx-auto">
      <div class=" content">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Filmes</h4>
          </div>
          <div class=" card-body">
            <div class="table-full-width table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Nome do filme</th>
                  <th>Categoria</th>
                  <th>Disponibilidade</th>
                  <th>Data devolução</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody *ngFor="let item of filmes">
                <tr>
                  <td>{{item.nome}}</td>
                  <td>{{item.categoria}}</td>
                  <td>{{item.disponibilidade}}</td>
                  <td>{{item.dataDevolucao}}</td>
                  <td>
                    <button *ngIf="item.disponibilidade === 'Alugado'" (click)="abreModalDevolucao(item)" type="button" rel="tooltip" title="Realizar devolução" class="btn btn-info btn-link btn-icon btn-sm">
                      <i class="tim-icons icon-double-left"></i>
                    </button>
                    <button *ngIf="item.disponibilidade !== 'Alugado'" (click)="abreModalLocacao(item)" type="button" rel="tooltip" title="Realizar locação" class="btn btn-info btn-link btn-icon btn-sm">
                      <i class="tim-icons icon-double-right"></i>
                    </button>
                    <button type="button" rel="tooltip" title="Visualizar" (click)="abreModalVisualizar(item)" class="btn btn-success btn-link btn-icon btn-sm">
                      <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" rel="tooltip" title="Histórico de locação" (click)="abreModalHistorico(item)" class="btn btn-danger btn-link btn-icon btn-sm">
                      <i class="tim-icons icon-book-bookmark"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<img src="img/ipad.png" class="img-fluid" alt="">-->
  </div>
</section>

<!-- Contact Section -->
<section class="contact-section bg-black">
  <div class="container" style="width: 100%">

    <div class="row" style="width: 100%;height: 15rem;margin-left: 22%;">

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope fa-2x text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-white-50">
              edunicol@gmail.com
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fab fa-whatsapp fa-2x text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Celular</h4>
            <hr class="my-4">
            <div class="small text-white-50">+55 (61) 99211-1441</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
